Flask==3.0.3
Flask-WTF==1.2.1
WTForms==3.1.2
flask-limiter==4.1.1
bcrypt==4.2.1
Pillow==11.1.0
python-pptx==1.0.2
python-docx==1.1.2
Flask-Mail==0.9.1
PyMySQL==1.1.1
gunicorn==23.0.0
whitenoise==6.8.2
python-dotenv==1.0.1
cloudinary==1.41.0
cryptography
